@charset "UTF-8";

:root {
  --theme-color:blue;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

.project-index__header {
  padding: 24px 0;
}

@media only screen and (min-width: 35em) {
  .project-index__header {
    padding-bottom: 8px;
  }
}

.company-logo {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 75px;
  margin: 0 auto 16px;
}

.project-index__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.project-index__title h1 {
  margin-bottom: 16px;
  color: var(--theme-color);
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
}

@media only screen and (min-width: 35em) {
  .project-index__title h1 h1 {
    margin-bottom: 0;
  }
}

.project-index__filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.filter {
  -ms-flex: 1;
  flex: 1;
  min-width: 200px;
  margin-right: 16px;
}

.filter:last-of-type {
  margin-right: 0;
}

.filter__label {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s;
  position: relative;
  display: block;
  padding: 8px 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ddd;
  color: var(--theme-color);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.filter__label:hover {
  color: var(--theme-color-dark);
}

.filter__label::after {
  position: absolute;
  right: 4px;
  content: '▾';
}

.filter--search {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px 0 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter--search:hover {
  border-color: #bbb;
}

.filter--search:focus-within {
  border-color: #999;
}

.filter--search label {
  line-height: 1;
}

.filter--search input[type="submit"] {
  display: none;
}

.filter--search input[type="text"] {
  -ms-flex: 1;
  flex: 1;
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  border: 0;
  font-family: "Muli", sans-serif;
  font-size: 15px;
}

.filter--search input[type="text"]:focus,
.filter--search input[type="text"]:active {
  outline: none;
}

.filter--search img {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.project-index__main {
  background: #efefef;
  padding-top: 24px;
  padding-bottom: 72px;
}

.active-filters-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.active-filters-list p {
  margin: 0 16px 0 0;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.active-filter {
  position: relative;
  padding: 4px 32px 4px 16px;
  margin-right: 16px;
  border-radius: 30px;
  background: var(--theme-color);
  color: white;
}

.active-filter::after {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s;
  position: absolute;
  top: 8px;
  right: 12px;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.5;
  content: 'X';
}

.active-filter:hover::after {
  opacity: 1;
}

.project-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.project {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s;
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.05), 0px 0px 10px rgba(17, 17, 17, 0.025);
  position: relative;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  margin: 16px;
  border-radius: 10px;
  background: white;
}

.project:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 8px 20px rgba(17, 17, 17, 0.15);
}

.project:hover {
  transform: translateY(-3px);
}

@media only screen and (min-width: 35em) {
  .project {
    -ms-flex-preferred-size: calc(50% - 32px);
    flex-basis: calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

@media only screen and (min-width: 54em) {
  .project {
    -ms-flex-preferred-size: calc(33.33% - 32px);
    flex-basis: calc(33.33% - 32px);
    max-width: calc(33.33% - 32px);
  }
}

.project__cover {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.project__address {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  padding: 16px;
}

.project__address span {
  color: white;
}

.project__street {
  overflow: hidden;
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}

@media only screen and (min-width: 54em) {
  .project__street {
    font-size: 28px;
  }
}

.project__city {
  margin: 0;
  color: white;
}

.project__info {
  padding: 16px;
}

.project__title {
  color: var(--theme-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}

.project__meta-data {
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: rgba(51, 51, 51, 0.6);
  font-size: 13px;
}

.project__meta-data p {
  margin-top: 4px;
}

.project__meta-data strong {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 700;
}

.project.project--estimate-form {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  transform: none !important;
  padding: 32px;
  background: white;
  box-shadow: none !important;
}

.project.project--estimate-form h3 {
  color: var(--theme-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}

@media only screen and (min-width: 35em) {
  .project.project--estimate-form h3 {
    font-size: 44px;
  }
}

@media only screen and (min-width: 54em) {
  .project.project--estimate-form {
    -ms-flex-preferred-size: calc(66.667% - 32px);
    flex-basis: calc(66.667% - 32px);
    max-width: calc(66.667% - 32px);
  }
  .project.project--estimate-form h3 {
    font-size: 56px;
  }
}

.estimate-form__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: -16px;
  margin-right: -16px;
}

.estimate-form__field {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: calc(50% - 32px);
  flex-basis: calc(50% - 32px);
  margin: 16px 8px 0;
}

.estimate-form__field label {
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
  padding: 0 0 2px;
  opacity: 0.8;
}

.estimate-form__field input[type="text"],
.estimate-form__field textarea {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  outline: 0;
  color: #333333;
  font-family: "Muli", sans-serif;
  font-size: 14px;
}

.estimate-form__field input[type="text"]:hover,
.estimate-form__field textarea:hover {
  border-color: #bbb;
}

.estimate-form__field input[type="text"]:active,
.estimate-form__field input[type="text"]:focus,
.estimate-form__field textarea:active,
.estimate-form__field textarea:focus {
  border-color: #999;
}

.form-btn {
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s;
  padding: 17px 48px;
  margin-left: 8px;
  background: var(--theme-color);
  border: 0;
  border-radius: 5px;
  outline: 0;
  color: white;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form-btn:hover {
  background: var(--theme-color-dark);
}

.companycam-branding-footer {
  margin: 72px auto 0;
  text-align: center;
}

.companycam-branding-footer a {
  color: rgba(51, 51, 51, 0.6);
}

.companycam-branding-footer img {
  width: 200px;
  margin: 0 auto 8px;
  opacity: 0.25;
}

.companycam-branding-footer h6 {
  margin-bottom: 6px;
  font-size: 16px;
  opacity: 0.75;
}

.companycam-branding-footer p {
  font-weight: 700;
  font-size: 13px;
}


  @media only screen and (min-width: 53em) {
    .project-list {
      display: -ms-grid;
      display: grid;
      grid-gap: 32px;
      padding: 16px;
    }
    .project {
      -ms-grid-column: span 4;
      grid-column: span 4;
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
    .project:first-child {
      -ms-grid-column: span 6;
      grid-column: span 6;
      -ms-grid-row: span 2;
      grid-row: span 2;
    }
    .project:nth-child(2),
    .project:nth-child(3) {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-grid-column: span 6;
      grid-column: span 6;
    }
    .project:nth-child(2) .project__cover,
    .project:nth-child(3) .project__cover {
      width: 50%;
      padding-bottom: 50%;
      -ms-flex: none;
      flex: none;
      border-radius: 10px 0 0 10px;
    }
    .project.project--estimate-form {
      -ms-grid-column: span 8;
      grid-column: span 8;
      max-width: 100%;
    }
    .project:nth-child(6) {
      -ms-grid-row: span 2;
      grid-row: span 2;
    }
    .project:nth-child(7),
    .project:nth-child(8) {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-grid-column: span 8;
      grid-column: span 8;
    }
    .project:nth-child(7) .project__cover,
    .project:nth-child(8) .project__cover {
      width: 50%;
      padding-bottom: 25%;
      -ms-flex: none;
      flex: none;
      border-radius: 10px 0 0 10px;
    }
  }


.project-page__header {
  padding: 24px 0;
}

.project-page__header .company-logo {
  margin: 0 auto;
}

.project-page__header .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.project-page__header a {
  color: var(--theme-color);
}

.project-page__header a:hover {
  text-decoration: underline;
}

.project-page__main {
  position: relative;
}

.project-page__main .project__cover {
  min-height: 400px;
  padding-bottom: 33.33%;
}

.project-page__main .project__cover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent 0%, #333333 100%);
  content: '';
}

.project-page__main .project__address {
  z-index: 2;
  bottom: 48px;
  display: block;
  padding: 24px;
}

.project-page__main .project__type {
  font-size: 16px;
}

.project-page__main .project__street {
  display: block;
  font-size: 32px;
}

.project-page__main .project__city {
  font-size: 20px;
}

@media only screen and (min-width: 32em) {
  .project-page__main .project__address {
    bottom: 0;
  }
}

@media only screen and (min-width: 40em) {
  .project-page__main .project__address {
    z-index: 2;
    max-width: 66.67%;
  }
  .project-page__main .project__street {
    font-size: 40px;
  }
  .project-page__main .project__city {
    font-size: 24px;
  }
}

@media only screen and (min-width: 60em) {
  .project-page__main .project__address {
    left: calc((100vw - 960px) / 2);
    max-width: calc(60em * 0.75);
  }
  .project-page__main .project__street {
    font-size: 48px;
  }
}

.project-page__content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 40em) {
  .project-page__content {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.project-page__photos {
  padding-top: 32px;
}

@media only screen and (min-width: 40em) {
  .project-page__photos {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: calc(66.67% - 32px);
    flex-basis: calc(66.67% - 32px);
    margin-right: 32px;
  }
}

@media only screen and (min-width: 60em) {
  .project-page__photos {
    -ms-flex-preferred-size: calc(75% - 48px);
    flex-basis: calc(75% - 48px);
    padding-top: 48px;
    margin-right: 48px;
  }
}

.project-page__intro {
  margin-bottom: 48px;
}

.project-page__intro h1,
.project-page__intro h2,
.project-page__intro h3 {
  font-size: 22px;
  font-weight: 700;
}

.project-page__intro p {
  color: rgba(51, 51, 51, 0.8);
  font-size: 18px;
}

.project-page__photo {
  margin-bottom: 24px;
}

@media only screen and (min-width: 60em) {
  .project-page__photo {
    margin-bottom: 48px;
  }
}

.project-page__photo img {
  border-radius: 10px;
}

.project-page__photo p {
  padding: 0 0 12px;
  margin: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
}

.project-page__sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-order: -1;
  order: -1;
  margin-top: -48px;
}

@media only screen and (min-width: 32em) {
  .project-page__sidebar {
    margin-top: 24px;
  }
}

@media only screen and (min-width: 40em) {
  .project-page__sidebar {
    display: block;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -ms-flex-order: 2;
    order: 2;
    margin-top: -180px;
  }
}

@media only screen and (min-width: 60em) {
  .project-page__sidebar {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
}

.project-page__sidebar .project__title {
  font-size: 24px;
}

.project-page__sidebar .project__meta-data {
  display: block;
  -webkit-line-clamp: none;
}

.project-page__sidebar .project__meta-data p {
  margin-top: 24px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
}

.project-page__sidebar .project__meta-data p:first-of-type {
  margin-top: 16px;
}

.project-page__sidebar .project__meta-data p strong {
  display: block;
  color: rgba(51, 51, 51, 0.8);
}

.project-page__sidebar .project__map {
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
  margin-bottom: 24px;
  border: 10px solid white;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.1), 0px 0px 10px rgba(17, 17, 17, 0.05);
}

@media only screen and (min-width: 32em) {
  .project-page__sidebar .project__map {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width: 40em) {
  .project-page__sidebar .project__map {
    width: 100%;
    padding-bottom: 100%;
  }
}

.project-page__sidebar .project__info {
  padding: 0;
  margin-bottom: 32px;
}

@media only screen and (min-width: 32em) {
  .project-page__sidebar .project__info {
    width: 50%;
    padding-left: 24px;
  }
}

@media only screen and (min-width: 40em) {
  .project-page__sidebar .project__info {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (min-width: 60em) {
  .project-page__sidebar .project__info {
    padding: 0;
  }
}

.project-page__form {
  width: 100%;
  padding: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background: #efefef;
}

@media only screen and (min-width: 40em) {
  .project-page__form {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
  }
}

.project-page__form .estimate-form__field {
  margin: 16px 0 0;
}

.project-page__form .estimate-form__field:first-of-type {
  margin-top: 8px;
}

.project-page__form .form-btn {
  padding: 12px 32px;
  margin: 16px 0 0;
}

.project-page__form .form-btn:hover {
  transform: scale(1.05);
}

.project-page__form.mobile {
  margin: 32px 0;
}

@media only screen and (min-width: 40em) {
  .project-page__form.mobile {
    display: none;
  }
}

.project-page__form.desktop {
  display: none;
}

@media only screen and (min-width: 40em) {
  .project-page__form.desktop {
    display: block;
  }
}

.project-page__form-headline {
  color: var(--theme-color);
  font-weight: 700;
  font-size: 24px;
}

.project-page__related {
  padding: 72px 0;
  background: #efefef;
}

.project-page__related-headline {
  margin-bottom: 16px;
  color: var(--theme-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.selectize-control.multi .selectize-input [data-value],
.selectize-control.multi .selectize-input [data-value].active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  padding: 4px 32px 4px 12px !important;
  border: none;
  border-radius: 30px;
  box-shadow: none;
  background: var(--theme-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-shadow: none;
}

.selectize-input {
  position: relative;
  box-shadow: none !important;
  min-height: 38px;
  border: 0;
}

.selectize-dropdown {
  border: 0;
  box-shadow: 0 4px 12px rgba(17, 17, 17, 0.25);
}

.selectize-dropdown .active {
  background: var(--theme-color);
  color: white;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
  padding: 4px 9px 4px 6px;
  border: 0;
  font-size: 14px;
}

.selectize-input input {
  transition: opacity cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
  position: relative;
  opacity: 0 !important;
}

.selectize-input.input-active input {
  opacity: 1 !important;
}

.selectize-control.multi .selectize-input>div {
  margin: 0 5px 5px 0;
}

* {
  box-sizing: border-box;
}


body {
  color: #333333;
  font-family: "Muli", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  max-width: 60em;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0 auto;
}

.color-picker {
  position: absolute;
  top: 8px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
}

.swatch {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
  outline: 4px solid transparent;
}

.swatch.active {
  outline-color: black;
}

.swatch.navy {
  background: #062e58;
}

.swatch.blue {
  background: #0074D9;
}

.swatch.aqua {
  background: #5FBFE5;
}

.swatch.teal {
  background: #39CCCC;
}

.swatch.olive {
  background: #3D9970;
}

.swatch.green {
  background: #2ECC40;
}

.swatch.yellow {
  background: #FFDC00;
}

.swatch.orange {
  background: #FF851B;
}

.swatch.red {
  background: #FF4136;
}

.swatch.pink {
  background: #F012BE;
}

.swatch.purple {
  background: #B10DC9;
}

.swatch.maroon {
  background: #85144B;
}

.swatch.gray {
  background: #999999;
}

.swatch.black {
  background: #111111;
}